* {
    -fx-accent: #fff000;
    -fx-focus-color: #fff000;
    -fx-faint-focus-color: transparent;
}

.root {
    -fx-background-color: #00447e;
}

.text {
    -fx-font-family: "Audiowide", "Arial", sans-serif;
    -fx-font-smoothing-type: lcd;
}

.label {
    -fx-text-fill: white;
}

.ikonli-font-icon {
    -fx-icon-color: white;
}

.modular-panel {
    -fx-background-color: #1e2e4a;
}

.normalize-text .text {
    -fx-font-family: sans-serif;
}

/* ==================== Context Menus ==================== */

.menu-item {
    -fx-padding: 3 6 3 6;
}

.menu-item .text {
    -fx-font-family: sans-serif;
}

.menu-item .label {
    -fx-text-fill: #444;
}

.context-menu {
    -fx-padding: 0;
    -fx-background-color: #eee;
    -fx-border-width: 1;
    -fx-border-insets: 1;
    -fx-border-color: #888;
    -fx-background-insets: 1;
    -fx-effect: none;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #888;
    -fx-border-insets: 0;
    -fx-border-width: 0.3 0 0 0;
}

.menu-item:focused {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}

.menu-item:focused .label{
    -fx-text-fill: white;
}

.menu-item:focused .ikonli-font-icon{
    -fx-icon-color: white;
}


/* ==================== SCROLL BAR ==================== */

.scroll-bar .increment-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-translate-x: -1;
}

.scroll-bar .decrement-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-translate-x: -1;
}

.scroll-bar {
    -fx-background-color: #1e2e4a;
}

.scroll-bar .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-insets: 0 3 0 0;
    -fx-background-color: rgba(192, 192, 192, 0.5);
}

.scroll-bar .thumb:pressed {
    -fx-background-color: rgba(192, 192, 192, 0.8);;
}

.scroll-bar .increment-button:hover {
    -fx-background-color: #777;
}

.scroll-bar .decrement-button:hover {
    -fx-background-color: #777;
}

/* ==================== SLIDER ==================== */

.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: transparent, transparent, #fff;
}

.slider .thumb {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #5a8ade;
}

.slider:focused .thumb {
    -fx-background-color: #fff000;
}

/* ==================== BUTTON ==================== */

.button {
    -fx-padding: 4 8 4 8;
    -fx-background-color: #3c5c94;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button .text {
    -fx-font-family: sans-serif;
}

.button:hover {
    -fx-background-color: #5a8ade;
}

.button:pressed {
    -fx-background-color: #4b73b8;
}

.button .ikonli-font-icon {
    -fx-icon-color: white
}

/* ==================== TOGGLE ==================== */

.toggle-button {
    -fx-background-color: #1e2e4a;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-padding: 2 8 4 8
}
/*
.toggle-button .text {
    -fx-font-family: sans-serif;
}*/

.toggle-button:hover {
    -fx-background-color: #5a8ade
}

.toggle-button:selected {
    -fx-background-insets: 0, 0 -2 2 -2;
    -fx-background-color: #fff300, #1e2e4a;
}

.toggle-button:selected:hover {
    -fx-background-insets: 0, 0 -2 2 -2;
    -fx-background-color: #fff300, #5a8ade;
}

/* ==================== TEXT FIELD ==================== */

.text-field {
    -fx-padding: 2 3 2 3;
    -fx-background-color: #00223f;
    -fx-border-color: #5a8ade;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-prompt-text-fill: #666;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-accent: #5a8ade
}

.text-field:focused {
    -fx-border-color: #fff000;
    -fx-border-insets: 0;
}

/* ==================== Radio Button ==================== */

.radio-button {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-image: null;
    -fx-background-insets: 0, 2;
    -fx-background-color: #5a8ade, #00223f;
}

.radio-button:selected .radio {
    -fx-background-color: #fff000, #00223f;
}

.radio-button:selected .dot {
    -fx-translate: 0;
    -fx-background-color: #fff000;
    -fx-background-insets: 1;
}

/* ==================== Choicebox ==================== */

.choice-box {
    -fx-border-width: 2;
    -fx-border-color: #5a8ade;
    -fx-background-color: #1e2e4a;
    -fx-background-insets: 0;
}

.choice-box:focused {
    -fx-border-color: #fff000;
}

.choice-box .arrow {
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.choice-box .text {
    -fx-font-family: sans-serif;
}


/* ==================== Color Picker ==================== */

.color-picker {
    -fx-border-width: 2;
    -fx-border-color: #5a8ade;
    -fx-background-color: #1e2e4a;
    -fx-background-insets: 0;
}

.color-picker .text {
    -fx-font-family: sans-serif;
}

.color-picker:focused {
    -fx-border-color: #fff000;
}

.color-picker .arrow {
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.color-palette {
    -fx-focus-color: #5a8ade;
    -fx-background-color: #eee;
}

.color-palette .label {
    -fx-text-fill: white;
}

.custom-color-dialog {
    -fx-background-color: #eee;
}

.custom-color-dialog .label {
    -fx-text-fill: black;
}

.custom-color-dialog .button {
    -fx-text-fill: black;
}

.custom-color-dialog .slider .track {
    -fx-background-color: #888;
}

.custom-color-dialog .text {
    -fx-font-family: sans-serif;
}


/* ==================== List View ==================== */


.list-view {
    -fx-focus-color: transparent;
    -fx-border-color: #5a8ade;
    -fx-border-width: 2;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused {
    -fx-border-color: #fff000;
}

.list-view .text {
    -fx-font-family: sans-serif;
}

.list-cell {
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-background-color: #1e2e4a;
    -fx-accent: #5a8ade;
    -fx-padding: 0 4 0 4;
    -fx-border-width: 0;
}

.list-cell:selected {
    -fx-background-color: #5a8ade;
}